:root {
  font-size: 14px;
  --black: hsl(0,0%,2%);
  --ligtherblack: hsl(0, 0%, 12%);
  --blackgrey: hsl(0, 0%, 18%);
  --darkgrey: hsl(0, 0%, 23%);
  --grey: hsl(0, 0%, 51%);
  --greywhite: hsl(0, 0%, 91%);
  --whitegrey: hsl(0, 0%, 96%);
  --white: hsl(0, 0%, 100%);
  --violet: hsl(274, 82%, 60%);
  --redorange: hsl(0, 100%, 66%);
}

main {
   display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

header,
#word-result {
  display: flex;
}

header {
  width: 70%;
  justify-content: space-between;
}

h1 {
  font-size: 4rem;
}

h4 {
  font-size: 1.4rem;
  font-family: 'Inter', sans-serif;
}

#header-switchers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#wordsearch::placeholder {
  color:var(--blackgrey);
}


#word-definition h4 {
  color: var(--grey);
  font-size: 1.4rem;
  font-weight: 400;
  margin: 2rem 1rem;
}

#font-styles {
  display: block;
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--darkgrey);
  line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  max-width: 4em;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border:none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: url('assets/images/icon-arrow-down.svg');
      background-repeat: no-repeat;
    background-position: right 0.3em top 50%, 0 0;
    background-size: .75em auto, 100%;
 }

#font-styles::-ms-expand {
  display: none;
}


#font-styles:focus {

}

#font-styles option {
  font-weight: normal;
}

.switch {
  position: relative;
  display: inline-block;
  width: 2.85rem;
  height: 1.42rem;
   
}

.switch::before {
  content: '';
  width:0.15rem;
  border-right: 1px solid var(--greywhite);
  margin-left: -1rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--grey);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 0.2rem;
  bottom: 0.2rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: var(--violet);
}

input:focus+.slider {
  box-shadow: 0 0 0.1rem var(--violet);
}

input:checked+.slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.error-flex {
  display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error-flex h3, .error-flex p {
  font-family: 'Inter', sans-serif;
}

.error-flex h3 {
  
  font-size: 1.4rem;
  font-weight: 700;
  padding-bottom: 2rem;
}

.error-flex p {
  font-size: 1.28rem;
  color: var(--grey);
  text-align: center;
}

.hide {
  display:none;
}

#search-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 3rem 5rem;
  max-width: 100%;
}

/* TODO: change this */




#wordsearch {
  border: none;
  border-radius: 0.5rem;
  min-width: 53rem;
  min-height: 4.5rem;
  background-color: var(--whitegrey);
  padding: 0.5rem 1.5rem;
  margin: 0.2rem 2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
}

#wordsearch.input-error{
  border: 1px solid var(--redorange);
  outline: none;
}

/* TODO: find out what happened here */

#wordsearch.input-error::before {
  content: 'Oops';
  width: 300px;
  height: 200px;
  color:red;
  background-color:black;
  top:100px;
  left:200px;
}

#search-bar img {
  position: absolute;
  top: 5rem;
  right:8.5rem;
  max-height: 20%;
}

#word-search-result {
  font-family: 'Inter', sans-serif;
}

#word-result {
  display: flex;
  justify-content: space-between;
}

#word-result img:hover {
  cursor: pointer;
  filter: hue-rotate(100deg);
}

#word-definition {
  max-width: 70%;
}

#definition-template {
  font-size: 1.3rem;
  color: var(--blackgrey);
}

#definition-template::marker {
  color: var(--violet);
}


.definition-text {
  font-family: 'Inter', sans-serif;
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.synonyms, .antonyms {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.synonyms a, .synonyms h4 {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
}

.synonyms a {
  cursor: pointer;
  color: var(--violet);
  font-weight: 700;
}

.synonyms a:hover {
  text-decoration: underline;
}

#result h3 {
  font-family: 'Inter', 'sans-serif';
  font-size: 1.7rem;
  color: var(--violet);
  font-weight: 400;
}